# --------------------------------------------------
# EditorConfig configuration file.
#
# EditorConfig helps maintain consistent coding styles for multiple developers
# working on the same project across various editors and IDEs. Note that some
# editors may require a plugin to enable EditorConfig support.
#
# For more information please see:
# https://editorconfig.org/
# --------------------------------------------------

# Stop the editor from looking for .editorconfig files in the parent directories
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
max_line_length = 80
trim_trailing_whitespace = true

[*.{bat,cmd,ps1,csv}]
end_of_line = crlf

[*.{md,mdx}]
indent_size = unset
trim_trailing_whitespace = false

[*.ansi]
insert_final_newline = false
trim_trailing_whitespace = false

[*.{patch,diff}]
charset = unset
end_of_line = unset
indent_style = unset
indent_size = unset
insert_final_newline = unset
max_line_length = unset
trim_trailing_whitespace = false

[**/.generated/**]
charset = unset
end_of_line = unset
indent_style = unset
indent_size = unset
insert_final_newline = unset
max_line_length = unset
trim_trailing_whitespace = unset
