# --------------------------------------------------
# Generic attributes and settings for the repository.
#
# This file defines attributes for files in the repository,
# such as line ending normalization, Git LFS settings,
# and diff drivers for specific file types. It helps ensure
# consistent handling of files across different platforms.
#
# A pattern that does not contain a slash matches by basename
# in any directory.
#
# Files can be ignored from GitHub source zip downloads
# by using the `export-ignore` attribute.
#
# You can run the helper script to determine files that
# are missing an attribute:
#
# ./scripts/linux/utils/attributes.sh
#
# For more information, see:
# https://git-lfs.com/
# https://git-scm.com/docs/gitattributes#_end_of_line_conversion
# https://github.com/gitattributes/gitattributes
# https://richienb.github.io/gitattributes-generator/
# --------------------------------------------------

# --------------------------------------------------
# Common Rules
# --------------------------------------------------

# Auto detect text files and perform LF normalization
*          text=auto

# Text files where line endings should be preserved
*.patch    -text

# Scripts
*.bat      text eol=crlf
*.cmd      text eol=crlf
*.ps1      text eol=crlf
*.bash     text eol=lf
*.fish     text eol=lf
*.ksh      text eol=lf
*.sh       text eol=lf
*.zsh      text eol=lf

# Documents
*.bibtex   text diff=bibtex
*.doc      diff=astextplain
*.DOC      diff=astextplain
*.docx     diff=astextplain
*.DOCX     diff=astextplain
*.dot      diff=astextplain
*.DOT      diff=astextplain
*.pdf      diff=astextplain
*.PDF      diff=astextplain
*.rtf      diff=astextplain
*.RTF      diff=astextplain
*.md       text diff=markdown
*.mdx      text diff=markdown
*.tex      text diff=tex
*.adoc     text
*.textile  text
*.mustache text
*.csv      text eol=crlf
*.tab      text
*.tsv      text
*.txt      text
*.sql      text
*.epub     diff=astextplain

# Graphics
*.png      binary
*.jpg      binary
*.jpeg     binary
*.gif      binary
*.tif      binary
*.tiff     binary
*.ico      binary
*.svg      binary
*.eps      binary

# Serialization
*.json     text
*.toml     text
*.xml      text
*.yaml     text
*.yml      text

# Archives
*.7z       binary
*.bz       binary
*.bz2      binary
*.bzip2    binary
*.gz       binary
*.lz       binary
*.lzma     binary
*.rar      binary
*.tar      binary
*.taz      binary
*.tbz      binary
*.tbz2     binary
*.tgz      binary
*.tlz      binary
*.txz      binary
*.xz       binary
*.Z        binary
*.zip      binary
*.zst      binary

# --------------------------------------------------
# Web Rules
# --------------------------------------------------

# Source code
.husky/*          text eol=lf
*.js              text eol=lf

# Docker
Dockerfile        text eol=lf

# RC files
*.*rc             text eol=lf

# Configs
package.json      text eol=lf
package-lock.json text eol=lf -diff

# Ignore files
*.*ignore         text eol=lf

# --------------------------------------------------
# Custom Rules
# --------------------------------------------------

# Exclude files from exports and source archives
# TODO: Append "export-ignore" to these lines
.gitignore             text eol=lf
.gitattributes         text eol=lf
.gitkeep               text eol=lf
.git-blame-ignore-revs text eol=lf
.mailmap               text eol=lf
.gitmessage            text eol=lf

# Repository specific files
.github/CODEOWNERS     text eol=lf
.editorconfig          text eol=lf
AUTHORS                text eol=lf
LICENSE                text eol=lf
.tool-versions         text eol=lf
# TODO: Add more files as needed
