# --------------------------------------------------
# Tool version list for asdf version manager.
#
# This file specifies the exact versions of tools to be used in this project.
# asdf is automatically installed in the development container.
# if you are not using the development container,
# run the setup script or manually set the tool versions:
#
# For asdf users:
# asdf install
#
# Manual setup:
# nvm use
# TODO: Add manual setup instructions for other tools as needed.
# ...
#
# NOTE: ASDF requires the necessary plugins to be installed.
#
# For more information please see:
# https://asdf-vm.com/manage/configuration.html
# --------------------------------------------------

nodejs 24.14.1
# TODO: Add more tools and versions as needed.
# python 3.14.0
# ...
