# --------------------------------------------------
# Tool version list for asdf version manager.
#
# This file specifies the exact versions of tools to be used in this project.
# asdf is automatically installed and run in the development container.
# If you are not using the development container set the tool versions manually:
#
# For asdf users:
# asdf install
#
# Manual setup:
# nvm use
# TODO: Add manual setup instructions for other tools as needed.
#
# NOTE: ASDF requires the necessary plugins to be installed.
#
# For more information please see:
# https://asdf-vm.com/manage/configuration.html
# --------------------------------------------------

nodejs 24.14.1
# TODO: Add more tools and versions as needed.
